/*
 Theme Name:  GrandMagazine Child
 Theme URI:    http://themes.themegoods.com/grandmagazine/demo
 Description:  Premium Responsive Magazine & Blog Theme
 Author:       ThemeGoods
 Author URI:   http://themeforest.net/user/ThemeGoods
 Template:     grandmagazine
 Version:      2.7
 License:      GNU General Public License
 License URI:  http://themeforest.net/licenses/regular_extended
 Text Domain:  grandmagazine-child
*/

@import url("../grandmagazine/style.css");
/* Fonts */
@font-face {
font-family: "Archivo-medium";
src: url("./fonts/Archivo-Bold.ttf");
}
/* Animaciones */
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

/* Contenedor Esapaña */
body.ad_spain {
	width: 970px;
	margin: auto;
}
body.ad_spain .header_ads{
	margin: 0 auto;
    max-width: 970px;
    width: 100%;
    position: relative;
    display: block;
}
body.ad_spain .header_ads .ad-160x600{
	position: absolute;
    top: 0;
}
body.ad_spain .header_ads .ad-160x600.left {
    /*left: -10rem;*/
    right: 50%;
    margin-right: 490px;
    position: fixed;
    top: 0;
}
body.ad_spain .header_ads .ad-160x600.right {
    /*right: -10rem;*/
    left: 50%;
    margin-left: 490px;
    position: fixed;
    top: 0;
}
#pg_sky_der{ text-align: left; }
#pg_sky_izq{ text-align: right; }
body.ad_spain .header_ads .ad-1024x90{
	/*min-height: 90px;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
body.ad_spain .header_ads img {
	vertical-align: top;
	width: 100%;
	height: auto;
}
body.ad_spain .header_style_wrapper{
	width: 970px;
	float: none;
    position: fixed;
    top: 0px;
    left: auto;
}
body.ad_spain .header_style_wrapper.yes_scroll{
	top: 0px;
}
body.ad_spain .standard_wrapper {
	width: 920px;
}
body.ad_spain #featured_posts_wrapper .first_post{
	width: 320px;
}
body.ad_spain .watch .contenedor_videos .contenedor .div_videos .post_category_thumbnail{
	justify-content: center;
}
body.ad_spain .watch .contenedor_videos .contenedor .div_videos .post_category_thumbnail .nota-video{
	width: 30%;
}
body.ad_spain .footer_bar .contenedor_footer{
	max-width: 970px;
	width: 920px;
}
body.ad_spain #page_content_wrapper .inner.one{
	width: 940px;
	float: none;
}
body.ad_spain #page_content_wrapper .inner.one .sidebar_content.three_cols .type-post{
	width: 32.3%;
	margin: 4.5px;
}
body.ad_spain #featured_first_post_wrapper .post_header .post_header_title{
	width: 60%;
}
.home #page_content_wrapper .inner .date_mobile{
	display: none;
}
body.ad_spain.single #page_content_wrapper{
	width: 970px!important;
}
body.ad_spain.single #page_content_wrapper .inner {
	width: 970px!important;
}
figure{
	margin: 0px!important;
}
.page_nosotros h1{
	display: none;
}
/* contenedor home */
body .header_ads{
	display: none;
}
#page_content_wrapper .inner{
	/*margin-top: 100px;*/
}
#page_caption h1{
	color: #fff;
    font-size: 36px;
    line-height: 1em;
    margin: 20px 0 10px 0;
    letter-spacing: normal;
    font-weight: 900;
    font-style: normal;
    font-family: 'Montserrat', sans-serif !important;
}
#page_caption h1 strong{
	color: #fdff2c;
}
.home .standard_wrapper{
	max-width: 960px!important;
	padding: 0px!important;
}
.home #page_content_wrapper{
	max-width: 960px!important;
	padding: 0px!important;
}
.single .standard_wrapper{
	max-width: 960px!important;
	padding: 0px!important;
}
.page .standard_wrapper{
	max-width: 960px!important;
	padding: 0px!important;
}
.page .content h2{
	font-weight: 400;
	letter-spacing: 0px;
	margin-bottom: 30px;
	line-height: 1.2;
}
.page .content p{
	font-family: "Archivo", Helvetica, Arial, sans-serif!important;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.2;
	color: #131313;
}
.page .mobile{
	display: none;
}
.page .desktop{
	display: block;
	width: 100%;
	margin-top: 30px;
}
.page .desktop img{
	width: 100%;
	height: auto;
}
.page .div_empleos .caja_empleo{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.page .div_empleos .caja_empleo.first{
	padding: 50px 0px;
}
.page .div_empleos .caja_empleo h2.titulo_empleo{
	margin-bottom: 0px;
	font-family: 'Archivo-medium', sans-serif;
	font-weight: 400!important;
	line-height: 1;
	font-size: 50px!important;
	display: inline-block!important;
}
.page .div_empleos .caja_empleo .boton{
	display: inline-block;
	background: #989EA925;
	padding: 5px 10px;
	border-radius: 50px;
	margin-left: 20px;
}
.page .div_empleos .caja_empleo .espacio{
	background: #131313;
	width: 100%;
	height: 1px;
	margin-top: 50px;
}
.page .div_empleos .caja_empleo .boton img{
	width: 30px;
	vertical-align: top;
	margin: 0px 2px;
}
.page .div_empleos .caja_empleo .div_imagen{
	margin-left: 20px;
}
.page .div_empleos .caja_empleo .div_imagen img{
	width: 50px;
	vertical-align: top;
	margin: 0px 2px;
}
/* ----- Formularios ----- */
.page .content .accordion-container .accordion {
	border-top: 0.5px solid #989EA9;
	background-color: #fff;
	cursor: pointer;
	width: 100%;
	text-align: left;
	outline: none;
	transition: 0.4s;
	box-sizing: border-box;
    padding: 25px 20px;
    text-transform: uppercase;
    font-size: 14px;
    color: #4F4F4F;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
}
.page .content .accordion-container .active, .accordion:hover {
	background-color: #fff;
	border-top: 0.5px solid #588AFB;
}
.page .content .accordion-container .active, .accordion:active {
	background-color: #fff;
	border-top: 0.5px solid #588AFB;
}
.page .content .accordion-container .accordion .title {
	display: inline-block;
	width: 25%;
	line-height: 1.2;
}
.page .content .accordion-container .panel {
	padding: 0;
	background-color: white;
	display: none;
	overflow: hidden;
	padding-bottom: 30px;
    width: 60%;
    margin-top: -60px;
    margin-left: 240px;
}
.page .content .accordion-container .accordion:after {
	background: url(img/plus.svg) no-repeat center center;
	background-size: contain;
	width: 20px;
	height: 20px;;
	font-size: 13px;
	content: ".";
	color: #fff;
	float: right;
	margin-left: 5px;
}
.page .content .accordion-container .active:after {
	background: url(img/minus.svg) no-repeat center center;
	background-size: contain;
	width: 20px;
	height: 20px;;
	font-size: 13px;
	content: ".";
}
.page .content .accordion-container select{
	width: 100%;
	background-color: #fff!important;
	border: none;
	border-bottom: 1px solid #588AFB;
	margin: 10px 0px;
	border-radius: 0px;
	padding: 10px 5px;
}
.page .content .accordion-container select option{
	background-color: #fff!important;
	padding: 10px 5px;
}
.page .content .accordion-container input[type=text] {
	background: #fff;
	border: none;
	border-bottom: 1px solid #588AFB;
	margin: 10px 0px;
	border-radius: 0px;
}
.page .content .accordion-container textarea {
    border: 0.5px solid #588AFB;
    background-color: #fff;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
	margin:15px 0px;
}
.page .content .accordion-container input[type=date]{
    background: #fff;
    border: 0.5px solid #588AFB;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 15px 0px;
    color: #4f4f4f;
}

.page .content .accordion-container .file{
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 80%;
	padding: 50px;
	display: flex;
	justify-content: center;
	border: 0.5px dashed #588AFB;
	border-radius: 10px;
}
.page .content .accordion-container .file img{}
.page .content .accordion-container .file .texto{
	width: 100%;
	text-align: center;
	margin-top: 10px;
	text-transform: none;
	letter-spacing: 0;
	color: #a7a7a7;
}
.page .content .accordion-container .file input[type=file]{
	display: none;
}
.page .content .accordion-container .boton{
	display: flex;
	justify-content: center;
	margin-top: 50px;
	margin-bottom: 20px;
}
.page .content .accordion-container .boton input[type=submit]{
	width: auto!important;
	padding: 5px 30px;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    background-color: #588AFB;
    border: none;
    border-radius: 5px;
}
.page .content .accordion-container .boton input[type=submit]:disabled,
.page .content .accordion-container .boton input[type=submit][disabled]{
	opacity: 0.5;
}
.page .content .accordion-container .buttons-form .disableit{ opacity:0.5;}

.page .content .accordion-container .switch_box{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	align-items: center;
}

/* Switch 1 Specific Styles Start */

.page .content .accordion-container .switch_box input[type="checkbox"]{
	font-size: 30px;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	width: 2em;
	height: 0.8em;
	background: #acacac;
	border-radius: 3em;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	border: 0px solid;
  }
  
.page .content .accordion-container .switch_box input[type="checkbox"]:checked{
	background: #0ebeff;
  }
  
.page .content .accordion-container .switch_box input[type="checkbox"]:after{
	position: absolute;
	content: "";
	width: 0.8em;
	height: 0.8em;
	border-radius: 50%;
	background: #fff;
	-webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
	        box-shadow: 0 0 .25em rgba(0,0,0,.3);
	-webkit-transform: scale(.7);
	        transform: scale(.7);
	left: 0;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }
  
.page .content .accordion-container .switch_box input[type="checkbox"]:checked:after{
	left: calc(100% - 0.8em);
  }
.page .content .accordion-container .switch_box .wpcf7-list-item{
	display: flex;
	justify-content: center;
	margin: 0px;
	align-items: center;
	align-content: center;
}
.page .content .accordion-container .switch_box span.texto{
	margin-left: 10px; 
}
.page .content .accordion-container .switch_box span.texto a:hover{
	color: #007affd9;
}
/* Switch 1 Specific Style End */
body.page-id-89741 .page_caption .background_overlay{ background:none; }
/* ------ -------- ------ */
body.ad_spain.page #page_content_wrapper{
	width: 970px!important;
}
.page #page_content_wrapper{
	max-width: 970px!important;
    padding: 0px!important;
}
.page #page_content_wrapper .content{
	padding: 0px 20px;
	box-sizing: border-box;
}
.page #page_content_wrapper .content .titulo_clientes{
	margin-bottom: 20px;
}
.page #page_content_wrapper .content .titulo_clientes span{
	text-transform: uppercase;
	font-size: 12px;
    background-color: #588AFB;
    padding: 5px 10px;
    max-width: 100px;
    text-align: center;
    font-weight: normal;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #fff;
}
.logo_container{
	padding: 15px 0px;
	top: 13px;
}
.top_bar.scroll .logo_wrapper{
	-ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}
.home #featured_posts_wrapper{
	
	padding-top: 20px!important;
}
.home  #featured_posts_wrapper .one_half{
	min-height: 403px;
}
.home #featured_posts_wrapper .contenedor_ad_top_cintillo{
	margin: 10px 0px 30px 0px!important
}
.home #featured_posts_wrapper .first_post{
	width: 360px;
	margin-right: 20px;
}
.home #featured_posts_wrapper .featured_list_posted{
	width: 635px;
	margin-right: 20px;
}
.home .div_featured_advertising{
	width: 300px;
	box-sizing: border-box;
}
.home .div_featured_advertising .featured-post-two{
	width: 260px!important;
}
.home .div_featured_advertising .contenedor_robapagina{
	width: 305px;
}
.home .featured_posts_filter .contenedor_ad_top_cintillo{
	margin-bottom: 30px;
}
.home .home-block-social{
	margin: 0px auto;
	min-width: 210px;
	color: #1a1a1a;
}
.home .home-block-social .title{
	width: 100%;
	text-align: center;
    font-family: "Archivo", Helvetica, Arial, sans-serif!important;
    letter-spacing: 0.8px!important;
    font-weight: 600!important;
    border-bottom: 0px solid #222!important;
    font-size: 15px!important;
    margin-top: 15px!important;
    margin-bottom: 5px!important;
    text-transform: uppercase!important;
}
.home .home-block-social .share-social{
	display: flex;
	justify-content: space-evenly;
}
.home .home-block-social .share-social a{
	width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border: 2px solid #1a1a1a;
    border-radius: 50px;
    align-items: center;
    color: #1a1a1a;
    transition: 0.5s all ease;
    margin-top: 5px;
    margin-left: 0px;
    font-size: 20px;
}
/* generales */
#logo_left_button{
	float: left;
    padding: 10px 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
#logo_left_button a{
	color: #fff;
	padding: 18px 0px 15px 0px;
    display: flex;
    align-items: center;
}
#logo_left_button a .menu{
	background: url(img/open-menu.svg) no-repeat center center;
	background-size: contain;
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-right: 5px;
}
#logo_right_button{
    padding: 10px 0;
}
#logo_right_button a{
	display: flex;
    align-items: center;
}
#logo_right_button a .search{
	background: url(img/search.svg) no-repeat center center;
	background-size: contain;
	width: 16px;
	height: 16px;
	display: inline-block;
}
.header_style_wrapper{
	z-index: 21;
}
.header_style_wrapper.scroll_down{
	opacity: 1!important;
	z-index: 21;
}
.header_style_wrapper.scroll_down .top_bar.scroll{
	-webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
    background: #131313!important;
}
body.overflow_hidden #search_wrapper.visible, body.overflow_hidden #browse_wrapper.visible, #side_menu_wrapper.overlay_background.share_open{
	z-index: 22;
}
#search_wrapper{
	opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: -2;
    top: 0;
    left: auto;
    right: 0px;
    -webkit-transition: -webkit-transform 200ms ease-out;
    -moz-transition: transform 200ms ease-out;
    -o-transition: -o-transform 200ms ease-out;
    transition: transform 200ms ease-out;
    -webkit-transform: translate(380px, 0px);
    -ms-transform: translate(380px, 0px);
    transform: translate(380px, 0px);
    -o-transform: translate(380px, 0px);
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-overflow-scrolling: touch;
    width: 380px;
    padding: 30px;
    box-sizing: border-box;
    background: #111111;
    position: fixed;
    top: 0px;
    height: 100%;
    z-index: 999;
    color: #999;
    overflow-y: scroll;
}
#search_wrapper .close_search{

}
#search_wrapper .overlay_background_content_inner{
	width: 100%;
}
#search_wrapper .overlay_background_content_inner input[type=text]#s{
	background: transparent;
	border-radius: 0px;
	border: none;
	border-bottom: 2px solid #fff;
	font-family: "Archivo Black", Helvetica, Arial, sans-serif!important;
	font-size: 30px;
	text-transform: uppercase;
	color: #fff;
	padding: 5px 0px;
}
#search_wrapper .overlay_background_content{
    display: block;
    vertical-align: top;
}

#search_wrapper .overlay_background_content .overlay_background_content_inner .share_social{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 100%;
	margin-top: 20px;
}
#search_wrapper .overlay_background_content .overlay_background_content_inner .share_social a{
	width: 30px;
	height: 30px;
	background: #131313;
	display: flex;
	justify-content: center;
	border: 1.5px solid #fff;
	border-radius: 50px;
	align-items: center;
	transition: 0.5s all ease;
	margin: 0px 5px;
	color: #fff;
}
#search_wrapper .overlay_background_content .overlay_background_content_inner .share_social a:hover{
	background: #fff;
	color: #131313!important;
}
#search_wrapper .overlay_background_content .overlay_background_content_inner #autocomplete .nota-video{
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
	align-items: flex-start;
	justify-content: space-between;
}
#search_wrapper .overlay_background_content .overlay_background_content_inner #autocomplete .nota-video .post_thumb_sidebar{
	width: 30%;
}
#search_wrapper .overlay_background_content .overlay_background_content_inner #autocomplete .nota-video .post_thumb_sidebar a img{
	width: 100%;
}
#search_wrapper .overlay_background_content .overlay_background_content_inner #autocomplete .nota-video .description{
	display: flex;
	flex-wrap: wrap;
	width: 65%;
	margin-left: 0px;
}

#search_wrapper .overlay_background_content .overlay_background_content_inner #autocomplete .nota-video .description .category{
	width: 100%;
}
#search_wrapper .overlay_background_content .overlay_background_content_inner #autocomplete .nota-video .description .category a{
	font-family: 'IBM Plex Sans', sans-serif!important;
	font-weight: 400;
	background: #fff!important;
	border-radius: 1px;
	color: #000;
	margin: 0px!important;
	padding: 0px 8px!important;
	font-size: 12px;
	letter-spacing: 0px;
}
#search_wrapper .overlay_background_content .overlay_background_content_inner #autocomplete .nota-video .description .title{
	width: 100%;
	margin-top: 2px;
	line-height: 1.2;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.5px;
}
#search_wrapper .overlay_background_content .overlay_background_content_inner #autocomplete .nota-video .description .title a{
	color: #fff;
}
#search_wrapper .overlay_background_content .overlay_background_content_inner #autocomplete .nota-video .ajax_post{
	display: flex;
	flex-wrap: wrap;
	width: 65%!important;
	margin-left: 5px;
	width: 100%;
	line-height: 1.2;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.8px;
}
#search_wrapper .overlay_background_content .overlay_background_content_inner #autocomplete .nota-video .ajax_post a{
	color: #fff;
}
#search_wrapper .overlay_background_content .overlay_background_content_inner #autocomplete .view_all a{
	background: #fff;
	padding: 5px 15px;
	color: #131313;
	border-radius: 0px;
	text-transform: uppercase;
}
#search_wrapper .overlay_background_content .overlay_background_content_inner #autocomplete .view_all a:hover{
	background: #ccc;
}
.mobile_menu_wrapper{
	left: 0px;
	-webkit-transform: translate(-380px, 0px);
    -ms-transform: translate(-380px, 0px);
    transform: translate(-380px, 0px);
    -o-transform: translate(-380px, 0px);
    background: #131313!important;
}
.mobile_main_nav li a{
	color: #fff!important;
	font-size: 28px!important;
	font-weight: 800;
	line-height: 1.8;
	font-family: "Archivo Black", Helvetica, Arial, sans-serif!important;
}
.mobile_main_nav li a:hover{
	text-decoration: underline;
}
#side_menu_wrapper{
	-webkit-transform: translate(0px,0px)!important;
    -moz-transform: translate(0px,0px)!important;
    transform: translate(0px,0px)!important;
    background: rgba(0, 0, 0, 0.8);
    z-index: 22!important;
}
.top_bar{
	background: transparent!important;
}
.page-id-298 .top_bar{
	background: #131313!important;
}
.page-id-301 .top_bar{
	background: #131313!important;
}
.page-id-307 .top_bar{
	background: #131313!important;
}
.page-id-90084 .top_bar{
	background: #131313!important;
}
.page-id-90091 .top_bar{
	background: #131313!important;
}
.page-id-90096 .top_bar{
	background: #131313!important;
}
.top_bar.scroll.scroll_up{
	background: #131313!important;
}
#menu_wrapper{
	border-bottom: 0px solid #e1e1e1;
}
.top_bar.scroll #logo_left_button {
    padding: 10px 0 10px 0;
}
.single #page_content_wrapper{
	max-width: 960px!important;
	padding: 0px!important;
}
.single #page_content_wrapper .share-social{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}
.single #page_content_wrapper .share-social a{
	width: 35px;
	height: 35px;
	background: #fff;
	display: flex;
	justify-content: center;
	border: 1.5px solid #131313;
	border-radius: 50px;
	align-items: center;
	color: #131313;
	transition: 0.5s all ease;
	margin: 0px 5px;
	font-size: 20px;
}
.single #page_content_wrapper .share-social a:hover{
	background: #131313;
	color: #fff!important;
}

@media only screen and (min-width: 1100px){
	.single #page_content_wrapper .inner .sidebar_content, .page_content_wrapper .inner .sidebar_content{
		width: 63%!important;
	}
	.single #page_content_wrapper .inner .sidebar_wrapper, .page_content_wrapper .inner .sidebar_wrapper, #page_content_wrapper .inner .sidebar_wrapper.left_sidebar{
		width: 34%!important;
	}
}	
/* Home */
.tt_box_ad{
	font-family: 'Work Sans', sans-serif!important;
	padding: 0px 15px;
	font-size: 15px;
	font-weight: 600;
	border-radius: 15px;
	max-width: 100px;
	margin: 0px auto 15px auto;
}
.tt_box_ad.white{
	background-color: #fff;
	color: #1a1a1a;
}
.tt_box_ad.dark	{
	background-color:#1a1a1a;
	color: #fff;
}
.home #featured_first_post_wrapper .post_header h1{
	color: #fff;
    font-size: 36px;
    line-height: 1em;
    margin: 20px 0 10px 0;
    letter-spacing: normal;
    font-weight: 900;
    font-style: normal;
    font-family: 'Montserrat', sans-serif !important;

}
.home #featured_first_post_wrapper .post_header h1 strong{
	color:#fdff2c;
}
.home .post_info_cat_inverse ul{
	margin: 0px!important;
}
.home .post_info_cat_inverse ul li{
	display: block;
}
.contenedor_ad_top_cintillo{
	margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.contenedor_ad{
	display: flex;
    justify-content: center;
}
.home .featured_post_one .post_header_title h2{
	font-family: "Archivo", Helvetica, Arial, sans-serif!important;
    font-weight: 600;
	line-height: 1.1;
    margin: 10px 0 10px 0;
    color: #fff;
    letter-spacing: 0px;
}
.home .featured_post_one .post_header_title h2 a{
	color: #fff;
}
.home .featured_list_posted .post_header_title h2{
	font-family: 'Montserrat', sans-serif!important;
    font-weight: 900;
	line-height: 1.1;
	font-size: 20px;
    margin: 10px 0 10px 0;
    color: #fff;
    letter-spacing: 0px;
}
.home .featured_list_posted .post_header_title h2 a,
.home .featured_list_posted .post_info_date{
	color: #1a1a1a;
}
.home .featured_list_posted .post_info_author {
	color: #1a1a1a;
	border-right: 1px solid #1a1a1a;
}
.home .div_featured_advertising{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.home .div_featured_advertising .featured-post-two{
	width: 48%;
}
.home .div_featured_advertising .featured-post-two .featured_posts_last .post_header_title h2{
	font-family: "Archivo", Helvetica, Arial, sans-serif!important;
    font-weight: 600;
	line-height: 1.1;
    margin: 10px 0 10px 0;
    color: #fff;
    font-size: 18px;
    letter-spacing: 0px;
}
.home .div_featured_advertising .featured-post-two .featured_posts_last .post_header_title h2 a{
	color: #fff;
}
.home .div_featured_advertisin .contenedor_robapagina{
	width: 48%;
	display: flex;
    justify-content: center;
}
.home .featured_posts_filter h2{
	line-height: 1.1;
    margin: 10px 0 10px 0;
    font-size: 18px;
    color: #131313;
    font-family: "Montserrat", sans-serif!important;
    font-weight: 900;
    letter-spacing: 0px;
}
.home .featured_posts_filter h2 a{
	color: #131313;
	transition: 0.5s all ease;
}
.home .featured_posts_filter h2 a:hover{
	color: #131313;
	text-decoration: underline;
}
.home .featured_posts_filter_last h3{
	line-height: 1.2;
    margin: 10px 0 10px 0;
    font-size: 16px;
    color: #131313;
    font-family: 'IBM Plex Sans', sans-serif!important;
    font-weight: 600;
}
.home .featured_posts_filter_last h3 a{
	color: #131313;
	transition: 0.5s all ease;
}
.home .featured_posts_filter_last h3 a:hover{
	color: #131313;
	text-decoration: underline;
}
.home #post_filterable_wrapper .type-post:nth-child(3n){
	margin-right: 0px !important;
}
.home #wrapper{
	padding-top: 0px;
	margin-top: -78px;
}
.home .post_info_cat a{
	font-family: 'Work Sans', sans-serif!important;
	font-weight: 500;
	background: #fdff2c !important;
	border-radius: 15px;
	color: #000;
	margin: 0px!important;
	padding: 0px 12px!important;
	display: block;
	font-size: 12px;
	letter-spacing: normal;
}
.home .post_info_cat a:hover{
	background: #000!important;
	color: #fff;
}
.home .post_info_cat_inverse a{
	font-family: 'Work Sans', sans-serif!important;
	font-weight: 500;
	border-radius: 15px;
	margin: 0px!important;
	display: block;
	background: #131313!important;
	color: #fff;
	position: relative;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin-top: 10px;
    margin-bottom: 5px;
    display: inline-block;
    padding: 4px 10px!important;
    text-align: center;
}
.home .post_info_cat_inverse a:hover{
	background: #fff!important;
	color: #131313;
}
.home .title-node{
	width: 70%;
}
.home .post_info_author{
	font-family: 'Work Sans', sans-serif;
	border-right: 1px solid #fff;
	padding-right: 10px;
	font-weight: 400;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
}
.home .post_info_date{
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 12px;
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
}
.home .post_info_author_inverse{
	font-family: 'IBM Plex Sans', sans-serif;
	border-right: 1px solid #131313;
	padding-right: 5px;
	font-weight: 400;
	font-size: 12px;
	color: #131313;
	text-transform: uppercase;
	margin-right: 5px;
}
.home .post_info_date_inverse{
	font-family: 'Work Sans', sans-serif;
	font-size: 12px;
	color: #131313;
	font-weight: 400;
	text-transform: uppercase;
}
.home .excerpt{
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 16px;
	color: #fff;
	font-weight: 400;
}
.home .post_img img{
	border-radius: 15px;
}
.home #logo_right_button a{
	color: #fff;
	padding: 18px 0px 15px 0px;
}
.home .post_filter_wrapper h2{
	font-family: 'Work Sans', sans-serif !important;
	font-size: 28px!important;
	font-weight: 700;
	background-color: #000;
    color: #fff;
    padding: 10px 25px 10px 15px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.home .three_cols .contenedor_ad_top_cintillo{
	margin-bottom: 30px;
}
.home #home_popular_box{
	width: 100%;
    background-color: #fdff2c;
    float: left;
}
.home .watch{
	background: #131313;

}
.wrap_box_video{
	margin:20px 0px;padding:0px; width: 100%; position: relative;
}
.wrap_box_video img{width: 100%;}
.wrap_box_video a h5{ color: #fff; line-height: 14px; }
.icon_play_box {position: absolute; z-index: 3; top: 15px; left: 15px; margin: 0; line-height: 1; width: 7%;}
.icon_play_box img{ width: 100%; }
.wrap_box_video .tt_box_video{padding: 30px 0px;
    position: absolute;
    width: 100%;
    bottom: 0;
    background: linear-gradient(
180deg
,transparent 0,rgba(0,0,0,.65) 70%);}
.home .watch .contenedor_videos{
	max-width: 100%;
    box-sizing: border-box;
	width: 100%;
    margin: auto;
    float: left;
    background: #000000;
    padding: 60px 0px;
    clear: both;
}
.home .watch .contenedor_videos .contenedor{
	max-width: 960px;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    padding: 30px 0px;
    text-align: center;
}
.home .watch .contenedor_videos .contenedor h2{
	text-align: center;
	color: #f61121;
	font-family: 'Montserrat', sans-serif!important;
	font-weight: 900;
	margin-bottom: 40px;
	font-size: 55px!important;
    line-height: 65px;
    margin: 0px auto;
    padding: 10px;
    display: block;
    z-index: 9;
    position: relative;
}
.home .watch .contenedor_videos .contenedor .div_videos{
    padding: 30px;
    z-index: 9;
}
.home .shows .contenedor_shows .contenedor .div_videos{
	margin: 35px auto;
    max-width: 80%;
}
.home .watch .contenedor_videos .contenedor .div_videos .post_category_thumbnail{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.home .watch .contenedor_videos .contenedor .div_videos .post_category_thumbnail .nota-video{
	width: 100%;
	margin: 25px 0px;
}
.home .watch .contenedor_videos .contenedor .wrap_video,
.home .shows .contenedor_shows .contenedor .wrap_video{
	position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.home .watch .contenedor_videos .contenedor .div_videos .post_category_thumbnail .nota-video .post_thumb_sidebar{
	width: 100%;
	position: relative;
}
.home .watch .contenedor_videos .contenedor .div_videos .post_category_thumbnail .nota-video .post_thumb_sidebar img{
	width: 100%;
	vertical-align: top;
}
.home .watch .contenedor_videos .contenedor .div_videos .post_category_thumbnail .nota-video .post_thumb_sidebar .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: 0.5s all ease;
}
.home .watch .contenedor_videos .contenedor .div_videos .post_category_thumbnail .nota-video .post_thumb_sidebar .overlay:hover {
	opacity: 0.8;
	background: #13131340;
}
.home .watch .contenedor_videos .contenedor .div_videos .post_category_thumbnail .nota-video .post_thumb_sidebar .overlay .text {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  transition: 0.5s all ease;
}
.home .watch .contenedor_videos .contenedor .div_videos .post_category_thumbnail .nota-video .title{
	width: 100%;
	line-height: 1.4;
	margin-top: 10px;
}
.home .watch .contenedor_videos .contenedor .div_videos .post_category_thumbnail .nota-video .title a{
	color: #fff!important;
	transition: 0.5s all ease;
	font-family: "Archivo", Helvetica, Arial, sans-serif!important;
	font-weight: 400;
	line-height: 0;
	font-size: 16px;
}
.home .watch .contenedor_videos .contenedor .div_videos .post_category_thumbnail .nota-video .title a:hover{
	color: #ffffff!important;
	opacity: 0.9;
}
.home .watch .otros_videos{
	max-width: 100%;
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    float: left;
    background: #131313;
    clear: both;
    display: none;
}
.home .watch .otros_videos .contenedor{
	max-width: 1425px;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    padding: 30px 60px;
}
.home .watch .otros_videos .contenedor .div_videos .post_category_thumbnail{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.home .watch .otros_videos .contenedor .div_videos .post_category_thumbnail .nota-video{
	width: 22.5%;
	margin: 0px 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.home .watch .otros_videos .contenedor .div_videos .post_category_thumbnail .nota-video .post_thumb_sidebar{
	width: 40%;
	position: relative;
}
.home .watch .otros_videos .contenedor .div_videos .post_category_thumbnail .nota-video .post_thumb_sidebar img{
	vertical-align: top;
	width: 100%;
}
.home .watch .otros_videos .contenedor .div_videos .post_category_thumbnail .nota-video .post_thumb_sidebar .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: 0.5s all ease;
}
.home .watch .otros_videos .contenedor .div_videos .post_category_thumbnail .nota-video .post_thumb_sidebar .overlay:hover {
	opacity: 0.8;
	background: #13131340;
}
.home .watch .otros_videos .contenedor .div_videos .post_category_thumbnail .nota-video .post_thumb_sidebar .overlay .text {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  transition: 0.5s all ease;
}
.home .watch .otros_videos .contenedor .div_videos .post_category_thumbnail .nota-video .description {
	width: 55%;
}
.home .watch .otros_videos .contenedor .div_videos .post_category_thumbnail .nota-video .description .title {
	line-height: 1.4;
	margin-top: 5px;
	font-family: "Archivo", Helvetica, Arial, sans-serif!important;
}
.home .watch .otros_videos .contenedor .div_videos .post_category_thumbnail .nota-video .description .title a{
	color: #fff!important;
	transition: 0.5s all ease;
	font-weight: 600;
	line-height: 0;
	font-size: 16px;
	line-height: 1.2;
}
.home .watch .otros_videos .contenedor .div_videos .post_category_thumbnail .nota-video .description .title a:hover{
	color: #ffffff!important;
	opacity: 0.9;
}
.home .watch .otros_videos .contenedor .div_videos .post_category_thumbnail .nota-video .description .category a{
	font-family: 'IBM Plex Sans', sans-serif!important;
	font-weight: 400;
	background: #fff!important;
	border-radius: 1px;
	color: #000;
	margin: 0px!important;
	padding: 0px 8px!important;
	font-size: 12px;
	letter-spacing: 0px;
}
.home .div_shows{
	border-radius: 13px;
    overflow: hidden;
}

.home .shows{
	background: #131313;
}
.home .shows .contenedor_shows{
	max-width: 100%;
    box-sizing: border-box;
	width: 100%;
    margin: auto;
    float: left;
    background: #001fff;
    padding: 45px 0px;
    clear: both;
}
.home .shows .contenedor_shows .contenedor{
	max-width: 920px;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
}
.home .shows .contenedor_shows .contenedor h2{
	text-align: center;
	color: #131313;
	font-family: 'Work Sans', sans-serif!important;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 15px!important;
    background-color: #f9f90d;
    border-radius: 35px;
    max-width: 130px;
    margin: 0px auto 20px auto;
    letter-spacing: 2px;
}
.home .shows .contenedor_shows .contenedor .logo_pg_shows{
	width: 100%;
	max-width: 230px;
	margin: 15px 0px 0px 0px;
}
.home .shows .contenedor_shows .contenedor .div_shows .posts_show{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.home .shows .contenedor_shows .contenedor .div_shows .posts_show .show{
	width: 25%;
	position: relative;
}
.home .shows .contenedor_shows .contenedor .div_shows .posts_show .show .contenedor_imagen img{
	vertical-align: top;
	width: 100%;
}
.home .shows .contenedor_shows .contenedor .div_shows .posts_show .show .contenedor_imagen .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 1;
	transition: 0.5s all ease;
	background: linear-gradient(180deg,rgba(41,41,41,0) 30%,#171515);
}
.home .shows .contenedor_shows .contenedor .div_shows .posts_show .show .contenedor_imagen .overlay:hover {
	background: linear-gradient(180deg,rgba(41,41,41,0) 20%,#171515);
}
.home .shows .contenedor_shows .contenedor .div_shows .posts_show .show .contenedor_imagen a {
	width: 100%;
	height: 100%;
	display: block;
}
.home .shows .contenedor_shows .contenedor .div_shows .posts_show .show .contenedor_imagen .overlay .text {
	font-family: "Archivo", Helvetica, Arial, sans-serif!important;
	font-weight: 400;
	color: white;
	font-size: 14px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	transition: 0.5s all ease;
	text-transform: uppercase;
	line-height: 1;
}
.home .shows .contenedor_shows .contenedor .div_shows .posts_show .show .contenedor_imagen .overlay .text a{
	color: #fff;
	text-transform: uppercase;
}
.home #page_content_wrapper ul#post_filter{
	background: transparent;
	border: 0px solid transparent;
	padding: 0px;
	margin-top: 0px;
}
.home #page_content_wrapper ul#post_filter a.filter_active{
	background: transparent!important;
	color: #131313;
}
.home #page_content_wrapper ul#post_filter li a{
	font-family: 'Work Sans', sans-serif !important;
	text-transform: uppercase;
	font-weight: 600;
	padding: 7px 15px;
}
.home #page_content_wrapper ul#post_filter a i.fa-flash{
	color: yellow;
}
.home #page_content_wrapper ul#post_filter a i.fa-fire{
	color: red;
}
.home #page_content_wrapper .inner .sidebar_content.three_cols .type-post.thumbnail{
	min-height: 150px;
}
.box_ad {
    padding: 15px;
    border: 1px solid #000;
    border-radius: 15px;
    text-align: center;
}
.box_ad_cp {
    text-align: center;
    border-bottom: 2px solid #000;
    position: relative;
    margin: 0px auto 25px;
    padding-bottom: 20px;
}
.box_ad_cp .tt_box_ad{position: absolute; bottom: -30px; left: 50%; margin-left: -60px;}
.home .list_bottom_home .post_info_cat a{
	background-color: #000 !important;
	color: #fff;
}
.list_bottom_home .post_header h5{
	font-family: 'Work Sans', sans-serif!important;
    font-weight: 600;
}
.list_bottom_home .post_img.one_third{
	width: 45%;
	border-radius: 15px;
    max-height: 180px;
    overflow: hidden;
}
.list_bottom_home .post_header_title.two_third{
	width: 50%;
}
#load_more_button.button{ 
	background-color: #000; color:#fff; 
	font-family: 'Work Sans', sans-serif!important;
	font-weight: 600;
	text-transform: uppercase;
	padding: 3px 15px;
	border: none;
}
.post_info_cat a:nth-child(2){ display: none;  }
.sticky {
    border: none !important;
    background: none!important;
    padding: inherit!important;
}
/* Articulo noticia */
#page_caption{overflow: hidden; }
#page_caption img.img-header{ width: 300px; position: absolute; top: -550px; z-index: 1; height: auto;}
.noticia .background_overlay{
	background-image: linear-gradient(180deg,rgba(41,41,41,0) 50%,#171515);
}
.noticia .top_bar.scroll.scroll_up{
	background: #131313!important;
}
.noticia .post_info_author{
	font-family: 'IBM Plex Sans', sans-serif;
	border-right: 1px solid #fff;
	padding-right: 10px;
	font-weight: 800;
	font-size: 12px;
	color: #fff;
}
.noticia .post_info_date{
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 13px;
	color: #fff;
	font-weight: 400;
}
.noticia .post_info_cat a{
	font-family: 'Work Sans', sans-serif!important;
    font-weight: 500;
    background: #fdff2c !important;
    border-radius: 15px;
    color: #000;
    margin: 0px!important;
    padding: 0px 12px!important;
    display: block;
    font-size: 12px;
    letter-spacing: normal;
}
.noticia .post_info_cat a:hover{
	background: #000!important;
	color: #fff;
}
.noticia .title-node h1{
    color: #fff;
    font-size: 36px!important;
    line-height: 1em!important;
    margin: 20px 0 10px 0!important;
    letter-spacing: 1px!important;
}
.noticia .title-node{
	width: 100%;
}
.noticia .excerpt{
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 24px;
	color: #131313;
	line-height: 1.2;
}
.noticia .content .destacado{
	text-align: center;
	font-family: "Archivo Black", Helvetica, Arial, sans-serif!important;
	background: #131313;
	color: #fff;
	padding: 40px 80px;
	font-size: 18px;
	margin: 20px 0px;
	font-weight: 700;
}
.noticia .box{
	font-family: 'IBM Plex Sans', sans-serif;
	background: #131313;
	color: #fff;
	padding: 20px 40px;
	font-size: 18px;
	margin: 20px 0px;
	font-weight: 300;
}
.noticia .content h1{
	font-family: 'IBM Plex Sans', sans-serif!important;
	text-transform: uppercase!important;
}
.noticia .content h2{
	font-family: 'IBM Plex Sans', sans-serif!important;
	text-transform: uppercase!important;
}
.noticia .content h3{
	font-family: 'IBM Plex Sans', sans-serif!important;
	text-transform: uppercase!important;
}
.noticia .content h4{
	font-family: 'IBM Plex Sans', sans-serif!important;
}
.noticia .content h2{
	font-size: 22px;
	/*border-bottom: 1.5px solid #131313;*/
}
.noticia .post_content_wrapper .content h2::after{
	position: absolute;
	content: '';
	background: #131313;
	display: block;
	width: 15%;
	height: 2px;
	margin-top: 0em;
}
.noticia .content p{
	font-family: 'IBM Plex Sans', sans-serif;
	color: #131313;
	line-height: 1.5;
	font-size: 16px;
}
.noticia .content figure{
	margin: 0px;
}
.noticia .content strong{
	font-weight: 800;
}
.noticia .content a{
	/*color: #0066ff;*/
	color:#000000;
	border-bottom: 2px solid transparent;
}
.noticia .content a:hover{
	border-bottom: 2px solid #000000;
}

.noticia .content blockquote{
	padding: 0px;
	margin: 0px;
}

.noticia .content blockquote p{
	text-align: left;
	font-size: 22px;
	line-height: 1.1;
	margin: 30px;
	padding: 10px 30px!important;
	border-left: 2px solid #131313;
}

.noticia .content blockquote:before 
{
    background: #fff;
    color: black;
    content: "";
    font-family: '';
    left: 50%;
    padding: 0 15px;
    position: absolute;
    top: -0.6em;
    color: #FF2D55;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.noticia .content blockquote:after 
{
    border-top: 0px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    bottom: 0;
    content: "";
    display: block;
    left: 50%;
    margin-left: -4.5em;
    position: absolute;
    top: 0;
    width: 9em;
    z-index: -1;
}
.noticia .content .wp-caption-text{
	font-family: 'IBM Plex Mono', monospace;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 1;
	font-weight: 500;
	color: #131313;
}
.single .content .wp-caption-text{
	font-family: 'IBM Plex Mono', monospace;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 1;
	font-weight: 500;
	color: #131313;
}
.single .post_content_wrapper .post_tag a{
	border: 2px solid #131313;
	color: #131313;
	background: #fff;
	letter-spacing: 1px;
}
.single .post_content_wrapper .post_tag a:hover{
	border: 2px solid #131313;
	color: #fff;
	background: #131313;
}
/* Articulo entrevista */
.entrevista #page_caption{
	padding-top: 100px;
}
.entrevista #wrapper.menu_transparent .top_bar{
	background: #131313!important;
}
.entrevista .page_title_inner {
	text-align: center;
	margin: auto;
	width: 100%;
}
.entrevista .post_featured_content_bg{
	top: -20px;
	overflow: hidden;
}
.entrevista .post_featured_content_bg img{ width: 300px; position: absolute; top: -500px; }
.entrevista .page_title_inner .type-content {
	text-align: center;
}
.entrevista .page_title_inner .type-content span{
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	padding: 5px 20px;
	border-bottom: 1px solid #686868;
	color: #131313;
}
.entrevista .page_title_inner .title{
	width: 50%;
	margin:auto;
}
.entrevista .background_overlay{
	background-image: linear-gradient(180deg,rgba(41,41,41,0) 50%,#171515);
}
.entrevista .post_info_author{
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 800;
	font-size: 12px;
	text-transform: uppercase;
	color: #131313;
	margin: 0px;
}
.entrevista .post_info_author a{
	color: #131313;
}
.entrevista .post_info_author a:hover{
	color: #131313;
	opacity: 0.8;
}
.entrevista .post_info_date{
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 12px;
	color: #131313;
	font-weight: 400;
	text-transform: uppercase;
	top: -10px;
}
.entrevista .post_info_date span{
	margin: 0px;
}
.entrevista .post_info_cat{
	margin-top: 10px!important;
}
.entrevista .post_info_cat a{
	font-family: 'IBM Plex Sans', sans-serif!important;
    font-weight: 400;
    background: #e5e5e5!important;
    border-radius: 1px;
    color: #131313;
    margin: 0px!important;
    padding: 0px 8px!important;
    display: block;
    font-size: 12px;
    letter-spacing: 0px;
}
.entrevista .post_info_cat a:hover{
	background: #131313!important;
	color: #fff;
}
.entrevista .page_title_inner .share-social{
	display: none;
}
.entrevista .title-node{
	width: 70%;
}
.entrevista .excerpt{
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 24px;
	color: #131313;
	line-height: 1.2;
	text-align: center;
}
.entrevista .content .destacado{
	text-align: center;
	font-family: "Archivo Black", Helvetica, Arial, sans-serif!important;
	background: #131313;
	color: #fff;
	padding: 40px 80px;
	font-size: 18px;
	margin: 20px 0px;
	font-weight: 700;
}
.entrevista .box{
	font-family: 'IBM Plex Sans', sans-serif;
	background: #131313;
	color: #fff;
	padding: 20px 40px;
	font-size: 18px;
	margin: 20px 0px;
	font-weight: 300;
}
.entrevista .content h1{
	font-family: 'IBM Plex Sans', sans-serif!important;
	text-transform: uppercase!important;
}
.entrevista .content h2{
	font-family: 'IBM Plex Sans', sans-serif!important;
	text-transform: uppercase!important;
}
.entrevista .content h3{
	font-family: 'IBM Plex Sans', sans-serif!important;
	text-transform: uppercase!important;
}
.entrevista .content h4{
	font-family: 'IBM Plex Sans', sans-serif!important;
}
.entrevista .content h2{
	font-size: 22px;
	/*border-bottom: 1.5px solid #131313;*/
}
.entrevista .content p{
	font-family: 'IBM Plex Sans', sans-serif;
	color: #131313;
	line-height: 1.5;
	font-size: 16px;
}
.entrevista .content strong{
	font-weight: 800;
}
.entrevista .content a{
	/*color: #0066ff;*/
	color:#000000;
	border-bottom: 2px solid transparent;
}
.entrevista .content a:hover{
	border-bottom: 2px solid #00000;
}

.entrevista .content blockquote{
	padding: 0px;
	margin: 0px;
}

.entrevista .content blockquote p{
	text-align: center;
	font-size: 20px;
	line-height: 1.1;
	margin: 30px;
	padding: 10px 30px!important;
	border-left: 2px solid #131313;
	border-right: 2px solid #131313;
}

.entrevista .content blockquote:before 
{
    background: #fff;
    color: black;
    content: "";
    font-family: '';
    left: 50%;
    padding: 0 15px;
    position: absolute;
    top: -0.6em;
    color: #FF2D55;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.entrevista .content blockquote:after 
{
    border-top: 0px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    bottom: 0;
    content: "";
    display: block;
    left: 50%;
    margin-left: -4.5em;
    position: absolute;
    top: 0;
    width: 9em;
    z-index: -1;
}
.entrevista .content .wp-caption-text{
	font-family: 'IBM Plex Mono', monospace;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 1;
	font-weight: 500;
	color: #131313;
}
/* Articulo opinión */
.opinion .inverse .share-social{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 15px;
}
.opinion .inverse .share-social a{
	width: 35px;
	height: 35px;
	background: #131313;
	display: flex;
	justify-content: center;
	border: 1.5px solid #fff;
	border-radius: 50px;
	align-items: center;
	color: #fff;
	transition: 0.5s all ease;
	margin: 0px 5px;
	font-size: 20px;
}
.opinion .inverse .share-social a:hover{
	background: #fff;
	color: #131313;
}
.opinion #wrapper.menu_transparent .top_bar{
	background: #131313!important;
}
.opinion .imagen_destacada .type_content{
	display: none;
}
.opinion .post_featured_content_bg{
	margin-top: 70px;
	overflow: hidden;
}
.opinion .post_featured_content_bg img{ width: 300px; position: absolute; top: -500px }
.opinion .static_title{
	background: #131313;
	max-width: 100%!important;
	margin: 0px!important;
	width: 100%!important;
}
.opinion .static_title .page_title_inner{
	width: 48%!important;
	margin: auto;
	float: none!important;
	text-align: center;
}
.opinion .post_info_cat{
	margin-bottom: 10px!important;
}
.opinion .post_info_cat a{
	font-family: 'IBM Plex Sans', sans-serif!important;
    font-weight: 400;
    background: #e5e5e5!important;
    border-radius: 1px;
    color: #131313;
    margin: 0px!important;
    padding: 0px 8px!important;
    display: block;
    font-size: 12px;
    letter-spacing: 0px;
}
.opinion .post_info_cat a:hover{
	background: #131313!important;
	color: #fff;
}
.opinion .post_info_cat.mobile{
	display: none;
}
.opinion .title-node h1{
	font-family: 'PT Serif', serif;
	font-weight: 700;
	color: #fff!important;
	font-size: 40px!important;
	line-height: 1em!important;
    letter-spacing: 1px!important;
}
.opinion .avatar{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.opinion .avatar .gravatar{
	width: 50px!important;
	height: 50px!important;
}
.opinion .post_info_author{
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;
	margin: 0px;
}
.opinion .post_info_date{
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 12px;
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
	top: -10px;
}
.opinion .post_info_date span{
	margin: 0px;
}
.opinion .excerpt{
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 20px;
	color: #fff;
	line-height: 1.2;
	text-align: center;
	font-weight: 300;
}
.opinion .content .destacado{
	text-align: center;
	font-family: "Archivo Black", Helvetica, Arial, sans-serif!important;
	color: #131313;
	padding: 40px 100px;
	font-size: 18px;
	margin: 20px 0px;
	font-weight: 700;
}
.opinion .content .destacado::after {
	position: absolute;
	left: 45%;
	content: '';
	background: #131313;
	display: block;
	width: 10%;
	height: 2px;
	margin-top: 1em;
}
.opinion .box{
	font-family: 'IBM Plex Sans', sans-serif;
	background: #fff;
	color: #131313;
	padding: 20px 20px;
	font-size: 16px;
	margin: 20px 0px;
	font-weight: 400;
	border: 1.5px solid #131313;
}
.opinion .content p{
	font-family: 'PT Serif', serif;
	color: #131313;
	line-height: 1.5;
	font-size: 16px;
}
.opinion .content h1{
	font-family: 'PT Serif', serif;
	text-transform: uppercase!important;
	text-align: center;
}
.opinion .content h2{
	font-family: 'PT Serif', serif;
	text-transform: uppercase!important;
	text-align: center;
}
.opinion .content h3{
	font-family: 'PT Serif', serif;
	text-transform: uppercase!important;
	text-align: center;
}
.opinion .content h4{
	font-family: 'PT Serif', serif;
	text-align: center;
}
.opinion .content h2{
	font-size: 22px;
	/*border-bottom: 1.5px solid #131313;*/
}
.opinion .post_content_wrapper .content h2::after {
	position: absolute;
	left: 45%;
	content: '';
	background: #131313;
	display: block;
	width: 10%;
	height: 2px;
	margin-top: 0em;
}
.opinion .content .wp-caption-text{
	font-family: 'IBM Plex Mono', monospace;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 1;
	font-weight: 500;
	color: #131313;
}
.opinion .content strong{
	font-weight: 800;
}
.opinion .content a{
	color: #000000;
	border-bottom: 2px solid transparent;
}
.opinion .content a:hover{
	border-bottom: 2px solid #000000;
}

.opinion .content blockquote{
	padding: 0px;
	margin: 0px;
}

.opinion .content blockquote p{
	text-align: center;
	font-size: 20px;
	line-height: 1.1;
	margin: 30px;
	padding: 10px 30px!important;
	border-left: 2px solid #131313;
	border-right: 2px solid #131313;
}

.opinion .content blockquote:before 
{
    background: #fff;
    color: black;
    content: "";
    font-family: '';
    left: 50%;
    padding: 0 15px;
    position: absolute;
    top: -0.6em;
    color: #FF2D55;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.opinion .content blockquote:after 
{
    border-top: 0px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    bottom: 0;
    content: "";
    display: block;
    left: 50%;
    margin-left: -4.5em;
    position: absolute;
    top: 0;
    width: 9em;
    z-index: -1;
}
/* Articulo reportaje */
.reportaje #wrapper.menu_transparent .top_bar{
	background: #131313!important;
}
.reportaje .post_featured_content_bg{
	margin-top: 70px;
	background: #131313;
	overflow: hidden;
}
.reportaje .post_featured_content_bg .image{
	width: 90%;
	margin: auto;
}
.reportaje .post_featured_content_bg .image img{
	position: absolute;
	top: -100%;
	bottom: -100%;
	left: -100%;
	right: -100%;
	margin: auto;
	height: auto;
	width: 90%;
}

.reportaje .static_title{
	background: #131313;
	max-width: 100%!important;
	margin: 0px!important;
	width: 100%!important;
}

.reportaje .page_title_inner .type-content span{
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
}
.reportaje .static_title .page_title_inner{
	width: 1200px!important;
	margin: auto;
	float: none!important;
	padding: 0 60px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
}
.reportaje .static_title .page_title_inner .node{
	width: 70%;
}
.reportaje .static_title .page_title_inner .ad{
	width: 30%;
}
.reportaje .post_info_cat{
	margin-bottom: 10px!important;
}
.reportaje .post_info_cat a{
	font-family: 'IBM Plex Sans', sans-serif!important;
    font-weight: 400;
    background: #e5e5e5!important;
    border-radius: 1px;
    color: #131313;
    margin: 0px!important;
    padding: 0px 8px!important;
    display: block;
    font-size: 12px;
    letter-spacing: 0px;
}
.reportaje .post_info_cat a:hover{
	background: #131313!important;
	color: #fff;
}
.reportaje .post_info_cat.mobile{
	display: none;
}
.reportaje .title-node h1{
	font-family: 'PT Serif', serif;
	font-weight: 400!important;
	color: #fff!important;
	font-size: 32px!important;
}
.reportaje .avatar{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.reportaje .avatar .gravatar{
	width: 50px!important;
	height: 50px!important;
}
.reportaje .post_info_author{
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;
	margin: 0px;
}
.reportaje .post_info_date{
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 12px;
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
	top: -10px;
}
.reportaje .post_info_date span{
	margin: 0px;
}
.reportaje .autor.mobile{
	display: none;
}
.reportaje .date.mobile{
	display: none;
}
.reportaje .excerpt{
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 20px;
	color: #fff;
	line-height: 1.2;
	font-weight: 300;
}
.reportaje .content .destacado{
	text-align: center;
	font-family: 'PT Serif', serif;
	background: #131313;
	color: #fff;
	padding: 60px 120px;
	font-size: 20px;
	margin: 20px 0px;
	line-height: 1.2;
	font-weight: 400;
}
.reportaje .content .destacado::after {
	position: absolute;
	left: 43%;
	content: '';
	background: #fff;
	display: block;
	width: 12%;
	height: 1px;
	margin-top: 10px;
}
.reportaje .box{
	font-family: 'IBM Plex Sans', sans-serif;
	background: #fff;
	color: #131313;
	padding: 20px 20px;
	font-size: 16px;
	margin: 20px 0px;
	font-weight: 400;
	border: 1.5px solid #131313;
}
.reportaje .content p{
	font-family: 'PT Serif', serif;
	color: #131313;
	font-size: 16px;
	line-height: 1.5;
}
.reportaje .content h1{
	font-family: 'PT Serif', serif;
	text-transform: uppercase!important;
}
.reportaje .content h2{
	font-family: 'PT Serif', serif;
	text-transform: uppercase!important;
	line-height: 1.2;
	margin-bottom: 20px;
}
.reportaje .content h3{
	font-family: 'PT Serif', serif;
	text-transform: uppercase!important;
}
.reportaje .content h4{
	font-family: 'PT Serif', serif;
}
.reportaje .content h2{
	font-size: 22px!important;
}
.reportaje .post_content_wrapper .content h2::after {
	position: absolute;
	content: '';
	background: #131313;
	display: block;
	width: 15%;
	height: 2px;
	margin-top: 5px;
}
.reportaje .content strong{
	font-weight: 800;
}
.reportaje .content a{
	color: #00000;
	border-bottom: 2px solid transparent;
}
.reportaje .content a:hover{
	border-bottom: 2px solid #000000;
}

.reportaje .content blockquote{
	padding: 0px;
	margin: 0px;
}

.reportaje .content blockquote p{
	text-align: left;
	font-size: 20px;
	line-height: 1.1;
	margin: 30px;
	padding: 10px 30px!important;
	border-left: 2px solid #131313;
	font-family: 'PT Serif', serif;
}

.reportaje .content blockquote::before 
{
    background: #fff;
    color: black;
    content: "";
    font-family: '';
    left: 50%;
    padding: 0 15px;
    position: absolute;
    top: -0.6em;
    color: #FF2D55;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.reportaje .content blockquote::after 
{
    border-top: 0px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    bottom: 0;
    content: "";
    display: block;
    left: 50%;
    margin-left: -4.5em;
    position: absolute;
    top: 0;
    width: 9em;
    z-index: -1;
}

.single #page_content_wrapper .left .share-social{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 15px 0;
	width: 100%;
}
/* Sidebar */
/* Post category */
.sidebar_wrapper .sidebar_widget .widgettitle{
	font-family: "Archivo", Helvetica, Arial, sans-serif!important;
	text-align: center!important;
	font-size: 22px!important;
	font-weight: 600!important;
	border-bottom: 0px solid #222!important;
}
.sidebar_wrapper .sidebar_widget h2{
	font-family: "Archivo", Helvetica, Arial, sans-serif!important;
	text-align: center!important;
	font-size: 22px!important;
	font-weight: 600!important;
}
.sidebar_wrapper .sidebar_widget .widgettitle span{
	font-size: 22px!important;
}

.sidebar_wrapper .sidebar_widget .post_category_thumbnail .nota{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 15px;
}
.sidebar_wrapper .sidebar_widget .post_category_thumbnail .nota .post_thumb_sidebar{
	width: 100%;
	position: relative;
}
.sidebar_wrapper .sidebar_widget .post_category_thumbnail .nota .post_thumb_sidebar a{
	width: 100%;
}
.sidebar_wrapper .sidebar_widget .post_category_thumbnail .nota .post_thumb_sidebar a img{
	width: 100%!important;
    vertical-align: top;
}
.sidebar_wrapper .sidebar_widget .post_category_thumbnail .nota .post_thumb_sidebar .overlay{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: 0.5s all ease;
}
.sidebar_wrapper .sidebar_widget .post_category_thumbnail .nota .post_thumb_sidebar .overlay .text{
	color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    transition: 0.5s all ease;
}
.sidebar_wrapper .sidebar_widget .post_category_thumbnail .nota .post_thumb_sidebar .overlay:hover{
	opacity: 0.8;
	background: #13131340;
}
.sidebar_wrapper .sidebar_widget .post_category_thumbnail .nota .title{
	width: 100%;
    line-height: 1.4;
    margin-top: 10px;
}
.sidebar_wrapper .sidebar_widget .post_category_thumbnail .nota .title a{
	width: 100%!important;
	font-family: 'IBM Plex Sans', sans-serif!important;
	font-size: 16px!important;
	font-weight: 400!important;
	line-height: 0.9!important;
	transition: 0s all ease!important;
}
.sidebar_wrapper .sidebar_widget .post_category_thumbnail .nota .title a:hover{
	text-decoration: none;
	border-bottom: 1px solid #131313!important;
	color: #131313!important;
}
.sidebar_wrapper .sidebar_widget .posts_show .show{
	width: 100%;
	position: relative;
	margin-top: 10px;
}
.sidebar_wrapper .sidebar_widget .posts_show .show .contenedor_imagen a{
	width: 100%;
    height: 100%;
    display: block;
    transition: 0.5s all ease;
}
.sidebar_wrapper .sidebar_widget .posts_show .show .contenedor_imagen img{
	vertical-align: top;
    width: 100%;
}
.sidebar_wrapper .sidebar_widget .posts_show .show .contenedor_imagen .overlay{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: 0.5s all ease;
    background: linear-gradient(180deg,rgba(41,41,41,0) 30%,#171515);
}
.sidebar_wrapper .sidebar_widget .posts_show .show .contenedor_imagen .overlay:hover{
    background: linear-gradient(180deg,rgba(41,41,41,0) 20%,#171515);
}
.sidebar_wrapper .sidebar_widget .posts_show .show .contenedor_imagen .overlay .text{
	font-family: "Archivo", Helvetica, Arial, sans-serif!important;
    font-weight: 400;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    transition: 0.5s all ease;
    text-transform: uppercase;
    line-height: 1;
}
#footer .sidebar_widget li input[type=email]{
	margin-top: 0px!important;
	border-radius: 0px!important;
	background: transparent!important;
	border: none!important;
	border-bottom: 1px solid #fff!important;
	color: #fff!important;
}
#footer .sidebar_widget li input[type=submit]{
	font-family: 'IBM Plex Sans', sans-serif!important;
	font-weight: 800!important;
	background: #fff!important;
	color: #131313!important;
	border: none!important;
	width: auto!important;
	border-radius: 0px!important;
	text-transform: uppercase!important;
	font-size: 18px!important;
	padding: 5px 10px!important;
	float: left!important;
	transition: 0.5s all ease!important;
}
#footer .sidebar_widget li input[type=submit]:hover{
	background: #c4c4c4!important;
}
.footer_bar .contenedor_footer{
	max-width: 960px;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    padding: 30px 0px;
}
.footer_bar .contenedor_footer .columns{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.footer_bar .contenedor_footer .columns .column{
	width: 33%;
}
.footer_bar .contenedor_footer .columns .column .logo{
	width: 40%;
}
.footer_bar .contenedor_footer .columns .column .logo img{
	width: 100%;
}
.footer_bar .contenedor_footer .columns .column.primary .links{
	width: 100%;
	justify-content: flex-start;
	display: flex;
	box-sizing: border-box;
	margin-top: 20px;
}
.footer_bar .contenedor_footer .columns .column.primary .links a{
	font-family: 'IBM Plex Sans', sans-serif!important;
	font-weight: 400;
	color: #a5a5a5;
	font-size: 12px;
	letter-spacing: 0px;
	margin-right: 10px;
	text-transform: uppercase;
	text-decoration: underline;
}
.footer_bar .contenedor_footer .columns .column.primary .copy{
	width: 100%;
	box-sizing: border-box;
	margin-top: 5px;
}
.footer_bar .contenedor_footer .columns .column.primary .copy span{
	font-family: 'IBM Plex Sans', sans-serif!important;
	font-weight: 400;
	color: #a5a5a5;
	font-size: 12px;
	letter-spacing: 0px;
	margin-right: 10px;
	text-transform: uppercase;
	display: block;
	line-height: 1;
}
.footer_bar .contenedor_footer .columns .column .title{
	display: flex!important;
	font-family: "Archivo", Helvetica, Arial, sans-serif!important;
	letter-spacing: 0.8px!important;
	font-weight: 600!important;
	border-bottom: 0px solid #222!important;
	color: #fff!important;
	font-size: 15px!important;
	margin-top: 15px!important;   
	margin-bottom: 5px!important;
	text-transform: uppercase!important;
}
.footer_bar .contenedor_footer .columns .column .share-social{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.footer_bar .contenedor_footer .columns .column .share-social a{
	width: 35px;
	height: 35px;
	background: #131313;
	display: flex;
	justify-content: center;
	border: 2px solid #fff;
	border-radius: 50px;
	align-items: center;
	color: #ffffff;
	transition: 0.5s all ease;
	margin-top: 5px;
	margin-left: 0px;
	margin-right: 10px;
	font-size: 20px;
}
.footer_bar .contenedor_footer .columns .column .share-social a:hover{
	color: #131313;
	background: #fff;
}
.footer_bar .contenedor_footer .columns .column .formulario input[type=email]{
	margin-top: 0px!important;
	border-radius: 0px!important;
	background: transparent!important;
	border: none!important;
	border-bottom: 1px solid #fff!important;
	color: #fff!important;
	width: 60%;
}
.footer_bar .contenedor_footer .columns .column .formulario button[type=submit]{
	margin-top: 10px;
	font-family: 'IBM Plex Sans', sans-serif!important;
	font-weight: 800!important;
	background: #fff!important;
	color: #131313!important;
	border: none!important;
	width: auto!important;
	border-radius: 0px!important;
	text-transform: uppercase!important;
	font-size: 18px!important;
	padding: 5px 10px!important;
	float: left!important;
	transition: 0.5s all ease!important;
}
.footer_bar .contenedor_footer .columns .column .formulario button[type=submit]:hover{
	background: #c4c4c4!important;
}
.footer_bar .contenedor_footer .columns .column.third .links_mobile{
	display: none;
}
.footer_bar .contenedor_footer .columns .column.third .copy{
	display: none;
}
.mobile_menu_wrapper .sidebar_wrapper .sidebar_widget .widgettitle{
	font-family: "Archivo", Helvetica, Arial, sans-serif!important;
	text-align: left!important;
	font-size: 18px!important;
	font-weight: 600!important;
	border-bottom: 0px solid #222!important;
	text-transform: uppercase!important;
	color: #fff!important;
}
.mobile_menu_wrapper .sidebar_wrapper .sidebar_widget .widgettitle span{
	font-size: 18px!important;
}
.mobile_menu_wrapper .sidebar_wrapper .sidebar_widget .contenedor_links{
	width: 100%;
}
.mobile_menu_wrapper .sidebar_wrapper .sidebar_widget .contenedor_links a{
	display: block;
	width: 100%;
	font-family: "Archivo", Helvetica, Arial, sans-serif!important;
	text-transform: uppercase;
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: 400;
}
.mobile_menu_wrapper .sidebar_wrapper .sidebar_widget .contenedor_links a:last-child{
	margin-bottom: 0px;
}
.mobile_menu_wrapper .sidebar_wrapper .sidebar_widget .links{
	display: flex;
	flex-wrap: wrap;
}
.mobile_menu_wrapper .sidebar_wrapper .sidebar_widget .post_circle_thumb img {
	border-radius: 0px;
}
.mobile_menu_wrapper .sidebar_wrapper .sidebar_widget li a{
	color: #fff;
	font-family: "Archivo", Helvetica, Arial, sans-serif!important;
	font-weight: 400!important;
	line-height: 1!important;
}
.mobile_menu_wrapper .sidebar_wrapper .sidebar_widget .revue-subscribe{
	color: #fff;
}
.mobile_menu_wrapper .sidebar_wrapper .sidebar_widget .revue-subscribe input[type=email]{
	margin-top: 0px!important;
	border-radius: 0px!important;
	background: transparent!important;
	border: none!important;
	border-bottom: 1px solid #fff!important;
	color: #fff!important;
	width: 80%;
}
.mobile_menu_wrapper .sidebar_wrapper .sidebar_widget .revue-subscribe button[type=submit]{
	margin-top: 10px;
	font-family: 'IBM Plex Sans', sans-serif!important;
	font-weight: 800!important;
	background: #fff!important;
	color: #131313!important;
	border: none!important;
	width: auto!important;
	border-radius: 0px!important;
	text-transform: uppercase!important;
	font-size: 18px!important;
	padding: 5px 10px!important;
	float: left!important;
	transition: 0.5s all ease!important;
}
.mobile_menu_wrapper .sidebar_wrapper .sidebar_widget .revue-subscribe button[type=submit]:hover{
	background: #c4c4c4!important;
}
.mobile_menu_wrapper .sidebar_wrapper .sidebar_widget li a:hover{
	border-bottom: none!important;
}
.mobile_menu_wrapper .textwidget .share-social{
	display: flex;
	flex-wrap: wrap;
}
.mobile_menu_wrapper .textwidget .share-social a{
	width: 30px;
	height: 30px;
	background: #131313;
	display: flex;
	justify-content: center;
	border: 1.5px solid #fff;
	border-radius: 50px;
	align-items: center;
	transition: 0.5s all ease;
	margin: 0px 5px;
}
.mobile_menu_wrapper .textwidget .share-social a:hover{
	background: #fff;
	color: #131313!important;
}

.video_wrapper_responsive {
    position: relative;
    padding-bottom: 56.25%;
}
.video_wrapper_responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#cookie-law-info-again{ right:0px !important;}
h5.cli_messagebar_head{ font-weight:400;}
.home .shows .contenedor_shows .contenedor .div_shows .posts_show .show .contenedor_imagen .overlay{ display:none;}
.sidebar_wrapper .sidebar_widget .posts_show .show .contenedor_imagen .overlay{ display:none;}

.revue-subscribe p {
    font-size: 11px !important;
    font-family: 'IBM Plex Sans', sans-serif!important;
    color: #fff !important;
    line-height: 12px;
}
.revue-subscribe a{color:#fff; text-decoration:underline;}


@media (max-width: 767px) {

	h2 {
		font-size: 22px!important;
		line-height: 1.2;
	}
	body.ad_spain{
		width: 100%;
	}
	body.ad_spain .header_style_wrapper{
		width: 100%;
		top: 120px;
		max-width: 100%;
	}
	body.ad_spain .header_style_wrapper.yes_scroll.scroll_one{
		top: 100px;
	}
	body.ad_spain .header_style_wrapper.yes_scroll.scroll_two{
		top: 80px;
	}
	body.ad_spain .header_style_wrapper.yes_scroll.scroll_three{
		top: 60px;
	}
	body.ad_spain.home .header_style_wrapper{
		top: 0px;
	}
	body.ad_spain .header_ads .ad-160x600{
		display: none;
	}
	body.ad_spain .standard_wrapper{
		width: 100%;
	}
	body.ad_spain #featured_posts_wrapper .first_post{
		width: 100%;
	}
	body.ad_spain .watch .contenedor_videos .contenedor .div_videos .post_category_thumbnail{
		justify-content: space-between;
	}
	body.ad_spain #page_content_wrapper .inner.one{
		width: 100%;
		clear: both;
	}
	body.ad_spain #page_content_wrapper .inner.one .sidebar_content.three_cols .type-post{
		width: 100%;
		margin-right: 0px;
		margin-top: 20px;
	}
	body.ad_spain #featured_first_post_wrapper .post_header .post_header_title{
		width: 100%;
	}
	body.ad_spain #featured_first_post_wrapper .post_header .post_header_title .post_detail{
		display: none;
	}
	body.ad_spain.single #page_content_wrapper{
	width: 100%!important;
	}
	body.ad_spain.single #page_content_wrapper .inner {
		width: 100%!important;
	}
	body.ad_spain .header_ads .ad-1024x90{
		/*min-height: 120px!important;*/
	}
	body.ad_spain.home .header_ads .ad-1024x90{
		/*min-height: 100px!important;*/
	}
	body.ad_spain.page #page_content_wrapper {
	    width: 100%!important;
	}
	.mobile_main_nav li a{
		font-size: 26px!important;
	}
	.home #featured_posts_wrapper .first_post{
		width: 100%;
	}
	.home .standard_wrapper{
	    padding: 0 20px 0 20px!important;
	}
	.single .standard_wrapper {
	    padding: 0 20px 0 20px!important;
	}
	.page .standard_wrapper {
    	padding: 0 20px 0 20px!important;
	}
	.page #page_content_wrapper{
		padding: 0px!important;
	}
	.page .content .accordion-container .accordion {
	    padding: 10px 10px;
	    font-size: 12px;
	}
	.page .content .accordion-container .boton{
		margin-top: 30px;
	}
	.page .mobile{
		display: block;
		width: 100%;
		margin-top: 30px; 
	}
	.page .mobile img{
		height: auto;
		width: 100%;
	}
	.page .desktop{
		display: none;
	}
	.page #page_content_wrapper .inner .inner_wrapper{
		padding: 0 20px 0 20px!important;
		box-sizing: border-box;
	}
	.page #page_content_wrapper .content{
		padding: 0px;
	}
	.page .content h2{
		font-size: 30px!important;
		letter-spacing: -1px;
	}
	.page .content p{
		font-size: 18px;
	}
	.page .div_empleos .caja_empleo h2.titulo_empleo{
		font-size: 38px!important;
		display: block;
		width: 100%;
	}
	.page .div_empleos .caja_empleo h2.titulo_empleo span{
		display: block;
	}
	.page .div_empleos .caja_empleo .boton{
		margin-top: 20px;
		margin-left: 0px;
	}
	.page .div_empleos .caja_empleo .div_imagen{
		margin-top: 10px;
		margin-left: 0px;
	}
	.page .content .accordion-container .accordion .title{
		width: 80%;
	}
	.page .content .accordion-container .panel {
		padding: 0 18px;
		box-sizing: border-box;
		background-color: white;
		display: none;
		overflow: hidden;
		border-bottom: 0.5px solid #588AFB;
		padding-bottom: 30px;
		padding-bottom: 30px;
	    width: 100%;
	    margin-top: 0px;
	    margin-left: 0px;
	}
	.page .content .accordion-container input, select{
		padding: 0px 10px;
		font-size: 14px;
	}
	.page .content .accordion-container input[type=file]{
		width: 100%;
	}
	.page .content .accordion-container .switch_box{
		margin-top: 10px;
	}
	.page .content .accordion-container .switch_box input[type="checkbox"]{
		font-size: 16px;
	}
	.page .content .accordion-container .switch_box span.texto{
		line-height: 1;
		    font-size: 14px;
	}
	.page .content .accordion-container .file{
		padding: 0px;
		width: 100%;
	}
	.single #page_content_wrapper{
		padding: 0 30px 0 30px!important;
	}
	#logo_wrapper{
		padding: 5px 0 0 0!important;
	}
	.top_bar .logo_wrapper{
		-ms-transform: scale(0.8);
	    -moz-transform: scale(0.8);
	    -o-transform: scale(0.8);
	    -webkit-transform: scale(0.8);
	    transform: scale(0.8);
	}
	.top_bar.scroll .logo_wrapper{
		-ms-transform: scale(0.8);
	    -moz-transform: scale(0.8);
	    -o-transform: scale(0.8);
	    -webkit-transform: scale(0.8);
	    transform: scale(0.8);
	}
	.scroll #logo_wrapper {
		padding: 5px 0 0 0!important;
	}
	.logo_container{
		top: 20px!important;
		text-align: center!important;
		position: absolute!important;
		left: 50%!important;
		padding: 0px!important;
		width: 120px;
		margin-left: -60px;
	}
	.logo_container img{
		width: 100%;
		height: auto;
	}
	.contenedor_ad{
		width: 100%;
	}
	#wrapper .top_bar.scroll{
		background: #000!important;
	}
	#wrapper .logo_right_title{
		display: none;
	}
	#search_wrapper{
		width: 270px;
    	padding: 30px;
	}
	.top_bar.scroll{
		padding: 0px 0px!important;
	}
	.top_bar{
		padding: 10px 0px!important;
	}
	.top_bar.scroll #logo_wrapper{
		display: block!important;
	}
	#logo_right_button{
		width: 50%!important;
		float: right!important;
		text-align: right!important;
	}
	#logo_right_button a{
		padding: 0px !important;
		justify-content: flex-end;
		margin-top: 3px;
	}
	#logo_right_button a i{
		font-size: 23px !important;
		font-weight: 300;
	}
	#logo_right_button a .search{
		width: 20px;
		height: 20px;
	}
	#logo_left_button{
		width: 50%!important;
		float: left!important;
		text-align: left;
		padding: 0px;
	}
	#logo_left_button a{
		padding: 0px !important;
		margin-top: 1px;
	}
	#logo_left_button a .menu{
		width: 20px;
		height: 24px;
	}
	#logo_left_button a i{
		font-size: 24px !important;
		font-weight: 300;
	}
	.home #featured_posts_wrapper .featured_list_posted{
		width: 100%;
	}
	.home #featured_first_post_wrapper{
		height: 650px!important;
	}
	.home #page_content_wrapper .inner .sidebar_content.three_cols .type-post.thumbnail{
		min-height: 0px;
	}
	.home #featured_first_post_wrapper .post_header h1{
	    width: 100%;
	    font-size: 26px!important;
	}
	.home #wrapper{
		margin-top: -250px; 
	}
	.home .title-node{
		width: 100%;
	}
	.home #page_content_wrapper .inner .date_mobile{
		display: none;
	}
	.home .featured_posts_filter_last h3{
		margin-bottom: 5px;
	}
	.home #post_filterable_wrapper .date_mobile .post_info_date{
		color: #fff;
	}
	.home #post_filterable_wrapper_scroll .date_mobile .post_info_date{
		color: #131313;
	}
	.home #featured_posts_wrapper .standard_wrapper{ padding: 0px !important; }
	.home .featured_list_posted .post_header_title{padding: 0px 20px;}
	.home .featured_list_posted .post_img img{ border-radius: 0px; }
	.single #page_content_wrapper .share-social a{
		border: 2px solid #131313;
	}
	.home .featured_post_one .post_header_title h2{
		font-family: 'Montserrat', sans-serif;
	    font-weight: 400;
	    font-size: 20px!important;
	}
	
	.home .featured_post_one .post_header_title h2 a{
		color: #131313;
		font-weight: 400;
	}
	.home .featured_post_one .post_header_title .post_date{
		display: none;
	}
	.home .featured_post_one .post_header_title .excerpt{
		color: #131313;
		line-height: 1.4;
	}
	.home #page_content_wrapper{
		background: #131313;
		padding: 0px;
	}
	.home #page_content_wrapper .inner{
		padding: 0px 30px;
		box-sizing: border-box;
	}
	.home .post_filter_wrapper h2{ 
		width: 150px !important;
		font-size: 20px!important;
		padding: 10px; 
	}
	.home #page_content_wrapper.scroll .inner{
		background: #fff;
	}
	.home #page_content_wrapper.scroll .inner .post_info_cat_inverse a{
		background: #131313!important;
		color: #fff;
	}
	.home #page_content_wrapper.scroll .inner h2 a{
		color: #131313;
	}
	.home #page_content_wrapper.scroll .inner h3 a{
		color: #131313;
	}
	#post_filterable_wrapper_scroll.three_cols .two_third.post_header{
		width: 65.33%;
	}
	#post_filterable_wrapper_scroll.three_cols .one_third.last {
	    width: 30.99%;
	}
	.home .div_featured_advertising .featured-post-two{
		width: 100%!important;
	}
	.home .div_featured_advertising .featured-post-two .featured_posts_last .post_header_title h2{
		font-family: "Archivo Black", Helvetica, Arial, sans-serif!important;
	    font-weight: 400;
	    font-size: 20px!important;
	}
	.home .div_featured_advertising .featured-post-two .featured_posts_last .post_header_title h2 a{
		color: #131313;
		font-weight: 400;
	}
	.home .div_featured_advertising .featured-post-two .featured_posts_last .post_header_title .post_date{
		display: none;
	}
	.home .div_featured_advertising .featured-post-two .featured_posts_last{
		margin-bottom: 20px;
	}
	.home .div_featured_advertising .featured-post-two{
		width: 100%;
		margin-top: 25px;
	}
	.home .div_featured_advertisin .contenedor_robapagina{
		width: 100%;
	}
	.box_ad{ border:none; border-radius: 0px; padding: 15px 0px;}
	.home #page_content_wrapper ul#post_filter{
		margin-top: 10px;
    	display: flex;
    	flex-wrap: wrap;
    	width: 100%;
    	justify-content: space-between;
		float: none;
	}
	.home #page_content_wrapper ul#post_filter li{
		margin: 0px;
		margin: 0px;
	}
	.home #page_content_wrapper ul#post_filter li a{
		padding: 0px;
		font-size: 14px;
	}
	.home #post_filterable_wrapper .filter_mobile_none {
		display: none;
	}
	.home #post_filterable_wrapper_scroll .filter_mobile_none {
		display: none;
	}
	.home .post_filter_wrapper {
		margin: 0px 0px;
	}
	body.home .post_filter_wrapper h2{
		/*margin: 30px 0px!important;*/
	}
	.home #page_content_wrapper ul#post_filter{
		margin-top: 10px;
	}
	.home .post_filter_wrapper h2{
		color: #fff;
		font-family: 'Montserrat', sans-serif;
		font-weight: 900 !important;
	}
	.home .featured_posts_filter .post_header_title .post_date{
		display: none;
	}
	.home .featured_posts_filter_last h3{
		font-size: 16px;
		margin-top: 2px;
	}
	.home .featured_posts_filter_last h3 a{
		color: #fff;
	}
	.home .featured_posts_filter_last .post_info_cat_inverse a{
		font-size: 10px;
	}
	.home .watch .contenedor_videos{
		padding: 15px 10px;
	}
	.home .watch .contenedor_videos .contenedor{
		padding: 0px;
	}
	.home .watch .contenedor_videos .contenedor .emoji_watchThis{
		width: 110px;
	}
	
	.home .watch .contenedor_videos .contenedor h2{
		font-size: 40px!important;
		line-height: 35px!important;
		max-width: 145px;
		margin: 40px auto 0px auto;
	}
	.home .watch .contenedor_videos .contenedor .div_videos .post_category_thumbnail .nota-video{
		width: 31%;
		margin: 10px;
		margin-left: 0px;
	}
	.home .watch .contenedor_videos .contenedor .div_videos .post_category_thumbnail .nota-video .title{
		line-height: 1.2;
		margin-top: 10px;
	}
	.home .watch .contenedor_videos .contenedor .div_videos .post_category_thumbnail .nota-video .title a{
		font-size: 14px;
		color: #131313!important;
	}
	.home .watch .contenedor_videos .contenedor .div_videos{
		padding: 30px 10px;
	}
	.home .shows .contenedor_shows .contenedor .div_videos{
		max-width: 100%
	}
	.wrap_box_video a h5{ font-size: 14px; }
	.home .watch .contenedor_videos .contenedor .wrap_video,
	.home .shows .contenedor_shows .contenedor .wrap_video{
		padding-bottom: 177.78%;
	}
	.home .watch .contenedor_videos .contenedor .div_videos .post_category_thumbnail{
		display: flex;
	    justify-content: flex-start;
	    width: 550px;
	    margin: auto;
	}
	.home .watch .otros_videos{
		display: block;
	}
	.home .watch .otros_videos .contenedor{
		display: block;
		max-width: 100%;
	    width: 100%;
	    box-sizing: border-box;
	    margin: auto;
	    padding: 20px 30px;
	}
	.home .watch .otros_videos .contenedor .div_videos .post_category_thumbnail .nota-video{
		width: 100%;
		margin: 10px 0px;
	}
	.home .watch .otros_videos .contenedor .div_videos .post_category_thumbnail .nota-video .title a{
		font-family: "Archivo", Helvetica, Arial, sans-serif!important;
		font-weight: 600;
	}
	.home .shows .contenedor_shows{
		padding: 0px;
	}
	.home .shows .contenedor_shows .contenedor{
		padding: 30px;
	}
	.home .shows .contenedor_shows .contenedor .logo_pg_shows{
		max-width: 170px;
	}
	.home .shows .contenedor_shows .contenedor .div_shows .posts_show .show{
		width: 100%;
	}
	.home .shows .contenedor_shows .contenedor h2{
		margin-bottom: 20px;
		font-size: 13px!important;
		max-width: 120px;
	}
	.list_bottom_home .post_img.one_third,
	.list_bottom_home .post_header_title.two_third{
		width: 100%;
	}
	.noticia .title-node{
		width: 100%;
	}
	.noticia .post_info_author{
		border-right: none;
		font-size: 16px;
		width: 100%;
	}
	.noticia .post_info_date{
		top: -8px;
	}
	.contenedor_ad_top_cintillo{
    	margin: 0px;
	}
	.noticia .excerpt{
		font-size: 20px;
	}

	.noticia #page_content_wrapper .left .share-social{
		justify-content: center;
	}
  	.noticia .content blockquote p{
		font-size: 18px;
		margin: 15px;
		padding: 5px 15px!important;
	}
	.noticia .post_content_wrapper .content h2{
		margin-bottom: 20px;
	}
	.noticia .post_content_wrapper .content h2::after {
		width: 40%;
		    margin-top: 5px;
	}
	.noticia .content .destacado{
		padding: 20px 30px;
		margin: 10px -30px;
		line-height: 1.2;
		font-weight: 400;
	}	
	.noticia .box{
		padding: 20px 30px;
		margin: 20px -30px;
		line-height: 1.2;
		color: #131313;
		background: #d7d6d6;
		font-weight: 400;
	}
	.noticia .content .wp-caption-text{
		text-align: left;
	}
	.single .content .wp-caption-text{
		text-align: left;
	}
	.entrevista .content .destacado{
		padding: 30px 30px;
		line-height: 1.3;
		font-weight: 400;
		margin: 10px -30px;
	}	
	.entrevista #page_caption{
		padding-top: 100px;
	}
	.entrevista .page_title_inner .title{
		width: 100%;
		margin:auto;
		margin-top: 20px;
	}
	.entrevista #page_caption .page_title_inner .title h1{
		letter-spacing: -1px;
	}
	.entrevista .box{
		padding: 30px;
		margin: 20px -30px;
		font-size: 16px;
		line-height: 1.3;
	}
	.entrevista .excerpt{
		font-size: 22px;
		line-height: 1;
	}
	.entrevista .content blockquote p{
		font-size: 18px;
		margin: 10px;
		padding: 5px 15px!important;
	}
	.entrevista #page_content_wrapper .share-social:first-child{
		display: none;
	}
	.entrevista .page_title_inner .share-social{
		display: flex;
	    flex-wrap: wrap;
	    justify-content: center;
	    width: 100%;
	}
	.entrevista .page_title_inner .share-social a{
		width: 35px;
	    height: 35px;
	    background: #fff;
	    display: flex;
	    justify-content: center;
	    border: 2px solid #131313;
	    border-radius: 50px;
	    align-items: center;
	    color: #131313;
	    transition: 0.5s all ease;
	    margin: 0px 5px;
	    font-size: 20px;
	}
	.entrevista .content .wp-caption-text{
		text-align: left;
	}
	.opinion .title-node h1{
		font-weight: 400!important;
		text-align: left;
		margin-top: 0px!important;
		margin-bottom: 20px!important;
	}
	.opinion .imagen_destacada{
		padding: 0px 20px;
		padding-top: 20px;
		background: #131313;
	}
	.opinion .imagen_destacada .type_content{
		display: flex;
		justify-content: center;
		margin-top: 40px;
	}
	.opinion .imagen_destacada .type_content span{
		font-family: 'IBM Plex Sans', sans-serif;
		font-size: 16px;
		text-transform: uppercase;
		color: #fff;
	}
	.opinion .avatar{
		float: left;
		width: auto;
	}
	.opinion .autor{
		text-align: left;	
	}
	.opinion .autor .post_info_author{
		padding-left: 20px;
	}
	.opinion .date{
		text-align: left;
	}
	.opinion .post_info_cat.desktop{
		display: none;
	}
	.opinion .post_info_cat.mobile{
		display: flex;
		padding-left: 20px;
		margin-top: 15px;
	}
	.opinion .avatar .gravatar{
		width: 90px!important;
		height: 90px!important;
	}
	.opinion .avatar .gravatar img{
		width: 100%;
	}
	.opinion .excerpt{
		text-align: left;
		margin-top: 40px;
	}
	.opinion .date .post_info_date{
		padding-left: 20px;
	}
	.opinion .post_featured_content_bg{
		margin-top: 0px;
		height: 300px;
	}
	.opinion .static_title .page_title_inner{
		width: 100%!important;
	}
	.opinion .post_info_author{
		text-transform: none;
	}
	.opinion .post_info_date{
		font-size: 11px;
	}
	.opinion .content blockquote p{
		font-size: 18px;
		margin: 10px;
		padding: 5px 15px!important;
	}
	.opinion .content .destacado{
		padding: 10px 25px;
		line-height: 1.2;
		font-weight: 400;
		margin: 20px -25px;
	}	
	.opinion .content .destacado::after {
		left: 35%;
		width: 30%;
	}
	.opinion .post_content_wrapper .content h2::after {
		left: 40%;
		width: 20%;
		margin-top: 10px;
	}
	.opinion .post_content_wrapper .content h2 {
		margin-bottom: 20px;
	}
	.opinion .content .wp-caption-text{
		text-align: left;
	}
	.reportaje .post_featured_content_bg{
		margin-top: 20px;
		height: 500px;
	}
	.reportaje .post_featured_content_bg .image img{
		width: auto;
	}
	.reportaje #page_caption{
		padding-top: 20px;
		padding-bottom: 10px;
	}
	.reportaje .header_style_wrapper::after{
		position: absolute;
		content: '';
		background: linear-gradient(to right, #efbc00 30%, transparent 30%, transparent 100%);
		display: block;
		width: 100%;
		height: 4px;
		margin-top: 52px;
	}
	.reportaje #page_content_wrapper .left .share-social{
		justify-content: center;
	}
	.reportaje .page_title_inner .type-content span{
		font-size: 14px;
	}
	.reportaje .post_info_cat.desktop{
		display: none;
	}
	.reportaje .post_info_cat.mobile{
		display: inline-block;
		margin-top: 20px;
	}
	.reportaje .autor.desktop{
		display: none;
	}
	.reportaje .date.desktop{
		display: none;
	}
	.reportaje .autor.mobile{
		display: block;
	}
	.reportaje .date.mobile{
		display: block;
		margin-top: 5px;
	}
	.reportaje .content .destacado{
		padding: 40px 30px;
		line-height: 1.2;
		font-weight: 400;
		margin: 10px -30px;
	}
	.reportaje .content .destacado::after {
		left: 35%;
    	width: 30%;
    }
	.reportaje .static_title .page_title_inner .node{
		width: 100%;
	}
	.reportaje .static_title .page_title_inner .ad{
		width: 100%;
	}
	.reportaje .static_title .page_title_inner{
		width: 100%!important;
		padding: 0px;
	}
	.reportaje .content blockquote p{
		font-size: 18px;
		margin: 15px;
		padding: 5px 15px!important;
	}	
	.reportaje .post_content_wrapper .content h2::after{
		width: 20%;
	}
	body.ad_spain .footer_bar .contenedor_footer{
		max-width: 100%;
		width: 100%;
	}
	.footer_bar .contenedor_footer{
		max-width: 100%;
		width: 100%;
		padding: 30px 20px;
	}
	.footer_bar .contenedor_footer .columns .column{
		width: 100%;
	}
	.footer_bar .contenedor_footer .columns .column .logo{
		width: 50%;
		margin: auto;
	}
	.footer_bar .contenedor_footer .columns .column.primary .links{
		display: none;
	}
	.footer_bar .contenedor_footer .columns .column.primary .copy{
		display: none;
	}
	.footer_bar .contenedor_footer .columns .column.second{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		border-top: 2px solid #fff;
		border-bottom: 2px solid #fff;
		box-sizing: border-box;
		padding: 10px 10px; 
		align-items: center;
		margin: 30px 0px;
	}
	.footer_bar .contenedor_footer .columns .column.second .title{
		font-size: 15px;
		width: 40%;
	}
	.footer_bar .contenedor_footer .columns .column.second .share-social{
		width: 60%;
	}
	.footer_bar .contenedor_footer .columns .column.second .share-social a{
		width: 25px;
	    height: 25px;
	    display: flex;
	    justify-content: center;
	    border: 2px solid #fff;
	    align-items: center;
	    transition: 0.5s all ease;
	    margin-top: 0px;
	    margin-left: 0px;
	    margin-right: 10px;
	    font-size: 15px;
	}
	.footer_bar .contenedor_footer .columns .column.second .title{
		margin-top: 5px!important;
	}
	.footer_bar .contenedor_footer .columns .column.third .title{
		display: none!important;
	}
	.footer_bar .contenedor_footer .columns .column.third .formulario{
		display: none;
	}
	.footer_bar .contenedor_footer .columns .column.third .links_mobile{
		width: 100%;
		justify-content: center;
		display: flex;
		box-sizing: border-box;
	}
	.footer_bar .contenedor_footer .columns .column.third .links_mobile a{
		font-family: 'IBM Plex Sans', sans-serif!important;
		font-weight: 400;
		color: #a5a5a5;
		font-size: 12px;
		letter-spacing: 0px;
		margin-right: 10px;
		text-transform: uppercase;
		text-decoration: underline;
	}
	.footer_bar .contenedor_footer .columns .column.third .copy{
		display: block;
		width: 100%;
		margin-top: 10px;
	}
	.footer_bar .contenedor_footer .columns .column.third .copy span{
		font-family: 'IBM Plex Sans', sans-serif!important;
		font-weight: 400;
		color: #a5a5a5;
		font-size: 10px;
		letter-spacing: 0px;
		text-transform: uppercase;
		display: block;
		line-height: 1;
	}

}